
.header-container {
    display: flex;
    justify-content: space-between;
    padding-left: 4rem;
    padding-right: 4rem;
    align-items: center;
    
}
.mode-button{
    border: none;
    background-color: transparent;
    cursor: pointer;

}