* {
    box-sizing: border-box;
}



.header-container {
    display: flex;
    justify-content: space-between;
    padding-left: 6.5rem;
    padding-right: 4rem;
    align-items: center;
    
}
.mode-button{
    border: none;
    background-color: transparent;
    cursor: pointer;

}

.country-list-container{
    display: grid;
    gap: 5rem;
    padding-right: 0px;
    margin-top: 0px;
    padding-top: 2.5rem;
    padding-bottom: 3rem;
    @media (min-width: 1500px) {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    @media (min-width: 790px) and (max-width: 1500px){
        grid-template-columns: 1fr 1fr;
    }
    grid-template-columns: 1fr;
    & .country-flag {
        width: 100%;
        aspect-ratio: 1.5/1;
    }
}


.line-container{
    display: flex;
}

.card-container {
    cursor: pointer;
}

.card-content-container {
    display: flex;
    flex-direction: column;
    align-items: start;
    padding-top: 1rem;
    padding-bottom: 2rem;

    padding-left: 2rem;
    padding-right: 2rem;

    // word-wrap: break-word;
    line-height: 0.001rem;
}

h4 {
    font-size: large;
}
h5 {
    margin-top: 10px;
    margin-bottom: 13px;
}
.country-details {
    font-weight: 400;
}

.moon-icon {
    background-color: 'white';
    height: 8px;
    width: 8px;
}
.search-field {
    height: 3rem;
    width: 35rem;
    padding-left: 1rem;
    border-radius: 5px;

}
.search-and-filter-section {
    padding-top: 2rem;
    margin-left: 2.5rem;
    display: flex;
    justify-content: space-between;
}

.continent-list-title {
    height: 3rem;
    width: 12rem;
    display: flex;
    justify-content: start;
    align-items: center;
    padding-left: 1rem;
    position: relative;
    border-radius: 5px;
    cursor: pointer;
}

.continent-list {
    list-style: none;
    display: flex;
    flex-direction: column;
    width: 12rem;
    position: absolute;
    top: 2rem;
    left: -0rem;
    line-height: 2rem;
    padding-top: .4rem;
    padding-bottom: .4rem;
    margin-top: 1.5rem;
    border-radius: 5px;
    padding-left: 0px;

    visibility: hidden;
    cursor: pointer;
    

    & li {
        width: 100%;
        padding-left: 1rem;
        text-align: start;
    }
    & li:hover {
        background-color: rgba(0,0,0,0.1);
        border: 1px solid rgba(0,0,0,0.2)
    }

}